

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600&display=swap');

.mainComponent {
  font-family: 'Open Sans', sans-serif;
  color: var(--neutralDark);
  font-size: 12px;

  width: 100%;
  height: 100%;
}

// .fullWH {
//     width: 100%;
//     height: 100%;
// }



// default theme:
:root {
    --themePrimary: #038387;
    --themeLighterAlt: #f0fafa;
    --themeLighter: #c7ebec;
    --themeLight: #9bd9db;
    --themeTertiary: #4bb4b7;
    --themeSecondary: #159196;
    --themeDarkAlt: #02767a;
    --themeDark: #026367;
    --themeDarker: #02494c;
    --neutralLighterAlt: #f8f8f8;
    --neutralLighter: #f4f4f4;
    --neutralLight: #eaeaea;
    --neutralQuaternaryAlt: #dadada;
    --neutralQuaternary: #d0d0d0;
    --neutralTertiaryAlt: #c8c8c8;
    --neutralTertiary: #bab8b7;
    --neutralSecondary: #a3a2a0;
    --neutralPrimaryAlt: #8d8b8a;
    --neutralPrimary: #323130;
    --neutralDark: #605e5d;
    --black: #494847;
    --white: #ffffff;
  }


  .iconStrokeWidthContainer svg {
    stroke-width: 1.2;
  }