.container {
    width: 100%;
    height: calc(100% - 45px); /* for main command bar*/
    background-color: var(--white); 
}

.tracksContainer {
    width: 100%;
    display: flex;
    height: calc(100% - 45px); /* for track bar*/
    overflow-y:scroll;    
}

.firstTrackContainer {
    flex-grow: 1;
    max-width: 380px;
    min-width: 190px;
}

.flex {
    width: 100%;
    display: flex;
}

.barPlaceHolderFront {
    flex: 0 0 49px;    
    border-right: 1px solid var(--neutralTertiary);
    user-select: none;
}

.borderBottom {
        border-bottom: 1px solid var(--neutralTertiary);
}

.borderTop {
    border-top: 1px solid var(--neutralTertiary);
}

.barPlaceHolderEnd {
    user-select: none;
    flex: 1;   
}


