.container {
  flex-grow: 1;
  max-width: 380px;
  min-width: 190px;
  position: relative; /* anchor for agenda items*/
}

.segment {
  border-right: 1px solid var(--neutralTertiary);
  background-color: var(--neutralLighter);
  display: flex;
  flex-direction: column;
}

.smallSegment {
  width: 100%;
  box-sizing: border-box;
  padding: 5px;
}

.smallSegment>div {
  height: 100%;
  width: 100%;
}



.smallSegmentHover>div:hover {
  background-color: var(--neutralLight);
}


