.container {
  flex-grow: 1;
  max-width: 380px;
  min-width: 190px;
  position: relative; /* anchor for agenda items*/
}

.segment {
  border-right: 1px solid var(--neutralTertiary);
  background-color: var(--neutralLighter);
  display: flex;
  flex-direction: column;
}

.smallSegment {
  width: 100%;
  box-sizing: border-box;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.smallSegmentText {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  font-style: italic;
} 


.addIcon {
  font-size: 1rem; 
  margin-right: 0.5rem; 
}

.smallSegmentHoverContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  visibility: hidden;

}

.smallSegment:hover .smallSegmentHoverContainer {
  visibility: visible;
  background-color: var(--neutralLight);
  color: var(--neutralQuaternary);
  align-items: center;
} 

.chevronIcon {
  font-size: 0.8rem;
  color: var(--neutralQuaternary);
}
.chevronIconTop {
  position: relative;
  top: -13px;
}

.chevronIconBottom {
  position: relative;
  top: 14px;
}