
.smallSegment {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  
  .smallSegmentText {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-style: italic;
  } 
  
  
  .addIcon {
    font-size: 1rem; 
    margin-right: 0.5rem; 
  }
  
  .smallSegmentHoverContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: var(--neutralLight);
    color: var(--neutralQuaternary);
    align-items: center;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;  
    visibility: hidden;
  }

  .smallSegment:hover .smallSegmentHoverContainer {
    visibility: visible;
  }
  
  .chevronIcon {
    font-size: 0.5rem;
    color: var(--neutralSecondary);
  }