.container {
  flex: 0 0 70px;
  width: 70px;
}

.segment {
  border-right: 1px solid var(--neutralTertiary);
  border-bottom: 1px solid var(--neutralQuaternary);
  color: var(--neutralDark);
  font-size: 14px;
  font-weight: 300;
  display: flex;
  justify-content: center;
}
