.container {
  z-index: 99;
  position: relative;
  border-bottom: 1px solid var(--neutralTertiary);
  display: flex;
  flex-direction: row;
}

.numberOfItemsText {
  position: absolute;
  height: 100%;
  font-size: 14px;
  top: 0;
  left: 65px;
  height: 100%;
  display: flex;
  align-items: center;
}

.numberOfItems {
  background-color: var(--themePrimary);
  color: var(--white);
  padding: 0 8px;
  margin-right: 8px;
  margin-left: 15px;
  border-radius: 10px;
}

.commandBar{
  width: 100%;
}

.logo {
  color: var(--white);
  background-color: var(--themePrimary);
  font-size: 16px;
  flex-shrink: 0;
  padding-left: 20px;
  font-weight: 300;
  display: flex;
  align-items: center;
}



