.container {
  box-shadow: 0 0px 4px 0 rgba(0, 0, 0, 0.2);
  z-index: 99;
  position: relative;
}

.numberOfItemsText {
  position: absolute;
  height: 100%;
  font-size: 14px;
  top: 0;
  left: 65px;
  height: 100%;
  display: flex;
  align-items: center;
}


.numberOfItems {
  background-color: var(--themePrimary);
  color: var(--white);
  padding: 0 8px;
  margin-right: 8px;
  margin-left: 15px;

  border-radius: 10px;
}

